{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Farm Guess</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<h1 ><br/>How To Play</h1>
<h3><br/>🥕. Press any key to start</h3>
<h3>🥕. Watch / listen to which animal has the next move</h3>
<h3>🥕. Press the sequence from the start</h3>
<h3>🥕. Try to remember as many as you can!</h3>

<button class="control" type="button" name="button" onclick="location.href='{% url 'home' %}' ">Try it out!</button>

<script src="{% static 'game.js' %}" charset="utf-8"></script>

</body>

</html>
